.contendor-ningun-producto{
    height: 400px;align-items: center;
}
.contendor-ningun-producto > div > p{
    display: flex;
    justify-content: center;
}
.contenedor-imagen-carrito{
    align-items: center;
    display: flex;
    justify-content: center;
}
.contenedor-imagen-carrito > img{
    width: 500px;
}
.producto-carrito{
    color: #007185;
    letter-spacing: 0px;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 1rem;
}