.content-check {
    display: flex;
    flex-direction: column;
}

.cardet {
    width: 100%;
}

.nombreCheck {
    width: 44%;
}

.contenedor-principal-checkout {
    border: 1px dashed;

}

.contenedor-cambiar {
    width: 10%;
}

.botonCambiar {
    color: #007185;
    font-size: 12px;
    border: none;
    background: transparent;
}

.botonCambiar:hover {
    color: #C7511F;
    border-bottom: 1px solid #C7511F;
}

.checkoutcuadro {
    margin: 5px;
    padding: 10px;
    justify-content: space-between;
}

.checkoutcuadro>div {}

.checkoutcuadro>div>div {}

.checkout-domicilio {
    display: flex;
    padding: 10px;
    line-height: 20px;
    border: 1px solid #b9aeae;
}

.small-container-checkout {
    max-width: 1080 px;
    margin: auto;
    padding-right: 25 px;
}