/* Estilos de vista checkout general */
.content-check {
    display: flex;
    flex-direction: row;
}

.cardet {
    width: 100%;
}

.nombreCheck {
    width: 44%;
}

.contenedor-principal-checkout {
    border: 1px dashed;

}

.contenedor-cambiar {
    width: 10%;
}

.botonCambiar {
    color: #007185;
    font-size: 12px;
    border: none;
    background: transparent;
}

.botonCambiar:hover {
    color: #C7511F;
    border-bottom: 1px solid #C7511F;
}

.checkoutcuadro {
    margin: 5px;
    padding: 10px;
    justify-content: space-between;
}

.checkout-domicilio {
    display: flex;
    padding: 10px;
    line-height: 20px;
}

.small-container-checkout {
    max-width: 1080 px;
    margin: auto;
    padding-right: 25 px;
}
.alinearInputModal{
    align-items: baseline; 
    display: flex;
}
.input-tarjeta{
    
}
#contenedor-tarjeta:hover{
    background: #FCF5EE;
    border-radius: 5px;
    border: 2px solid;
    border-color: #FBD8B4;
}
.infoinferior{
    font-size:12px;
}
.contenedor-finalizar{
    background: #F0F2F2;
    border: 1px solid #F0F2F2;
    height:fit-content;
    padding: 2px;
    border-radius: 5px;
    width: 28%;
}
.finalizar-divs{
    padding:5px; 
    background: white;
}
.finalizar-pedido-boton{
    width: 90%; 
    border-radius: 10px;
}
#finalizarbotondiv{
    text-align:center;
}
.color-texto-importante{
    color: #007185;
}
.color-total-finalizar{
    color: #B12704;
}
.envio-informacion{
    padding: 5px;
}
.color-envio-informacion{
    color: #007185;
}

/*Estilos modales de checkout */
.div-vista-checkout{
    margin-left: 10px;
}
.div-vista-tarjeta{
    width: 115%;
}
.modalinput{
    padding: 10px;
}
.modaltarjeta{
    justify-content: space-between;
}